<div class="footer bg-dark text-light pt-4 pb-2">
    <div class="container">
      <div class="row">
        <!-- Left Section -->
        <div class="col-md-4 mb-4">
          <img src="/uploads/Divaslogo.png" alt="Divas Logo" class="img-fluid mb-3" style="max-width: 150px;">
          <p>Discover delicious recipes and share your own culinary creations with the world!</p>
          <div class="footer-social-icons">
            <a href="#"><i class="fab fa-facebook fa-lg text-light me-3"></i></a>
            <a href="#"><i class="fab fa-twitter fa-lg text-light me-3"></i></a>
            <a href="#"><i class="fab fa-instagram fa-lg text-light"></i></a>
          </div>
        </div>
  
        <!-- Center Section -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Company</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-light text-decoration-none">Home</a></li>
            <li><a href="/about" class="text-light text-decoration-none">About Us</a></li>
            <li><a href="/user/login" class="text-light text-decoration-none">Login</a></li>
            <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Right Section -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Get in Touch</h5>
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-phone me-2"></i> +1-234-567-890</li>
            <li><i class="fa-solid fa-envelope me-2"></i> Contact@divas.com</li>
          </ul>
        </div>
      </div>
  
      <hr class="border-secondary">
      <p class="text-center mb-0">Copyright 2025 @ Divas.com - All Rights Reserved.</p>
    </div>
  </div>
  