body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffe6cc;  /* Soft cream background */
  margin: 0;
  padding: 0;
 
}

.login-container {
  background-image: url(/uploads/natural-bg.jpg);
  max-width: 420px;
  margin: 100px auto;
  background-color: rgba(255,0,0,0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffb74d;  /* Subtle orange border */
}
.login-container h2{
  color: yellow;
}
.login-container p{
  color:yellow;
}
h2 {
  text-align: center; 
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color:yellow;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ff7043;
  border-radius: 8px;
  background-color: whitesmoke;  /* Light peachy color */
  box-sizing: border-box;
  margin-top: 8px;
}

input:focus {
  outline: none;
  border-color: #ff9800;  
  /* box-shadow: 0 0 10px rgba(255, 152, 0, 0.5); */
} 

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: white;  /* Rich orange color */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color:#ffe6cc;  /* A darker orange on hover */
}

button:active {
  background-color: #f4511e;  /* Darker orange when clicked */
}

p {
  text-align: center;
  font-size: 16px;
  color: black;  
  margin-top: 20px;
}

a {
  color: #ff7043;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}
.submit button {
  border-radius: 20px;
}
.submit button a{
  text-decoration: none;
  border-bottom: white;
}
.to-signup a{
  color: aqua;
}
.to-signup a{
  text-decoration: none;
  border-bottom: 1px white;
}
