/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    margin: 0;
    padding: 0;
}

.signup-container {
    max-width: 450px;
    margin: 80px auto;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: white;  
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: black;  
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 2px solid white;  
    border-radius: 20px;
    background-color: #fff3e0;  /* Light peach background for the input fields */
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: blueviolet;  /* Darker brown for focus */
    box-shadow: 0 0 10px rgba(62, 39, 35, 0.4);
}

button {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    background-color: white;  /* Rich brown color for the button */
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    /* background: linear-gradient(#e66465, #9198e5); */
    background-color:darkgrey;  
}

button:active {
    background-color: #2c1c18;  /* Even darker brown when clicked */
}

p {
    text-align: center;
    font-size: 16px;
    color: white;  /* Light brown, like cinnamon or spices */
    margin-top: 15px;
}

a {
    color: white;  /* Rich brown color for the link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.submit button{
    border-radius: 20px;
}
