<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('../partials/header') %>

  <div class="signup-container">
    <h2>Sign Up</h2>
    <form id="signupForm" action="/user/signup" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="submit">
        <a href="/">
          <button type="submit">Sign up</button>
        </a>
      </div>
      
      
    </form>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>

